{% extends "base.html" %}

{% block title %}
    {{SITENAME}}
{% endblock %}

{% block nav %}

<nav class="navbar navbar-default mod-nav navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="focusme" class="navbar-brand mod-nav" href="#page-top">{{SITENAME}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            {% for link, title  in NAVLINKS %}
                {%if title == '' %}
                <li class="hidden">
                    <a href="{{link}}"></a>
                </li>
                {% else %}
                <li class="page-scroll">
                    <a href="{{link}}">{{title}}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

{% endblock %}

{% block header %}

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/header-bg.jpg" alt=""> -->
                <div class="intro-text">
                    <span class="name">{{SITENAME}}</span>
                    <hr class="star-light">
                    <!--<span class="skills">{{SITESUBTITLE}}</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block grid %}
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{PORTFOLIO}}</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
        {% if articles %}
            {% for article in articles_page.object_list %}
                {% if article.type == "portfolio" %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://www.youtube.com/watch?v={{ article.videoid }}" target="_blank" class="portfolio-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://img.youtube.com/vi/{{ article.videoid }}/maxresdefault.jpg" class="img-responsive" alt="{{ article.title }}" width="350" height="250">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ article.title }}</h4>
                            <!--
                                 <p class="text-muted">{{ article.type }}</p>
                            -->
                            <p class="text-muted">Animation</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</section>

<section class="success" id="elimu-tales">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Elimu Tales</h2>
                <hr class="star-light">
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Elimu tales is a fun but educational cartoon series .  We seek to use animation as a powerful tool of entertainment in our efforts to make kids smarter. the animation is locally produced and the content is relevant to our target audience. Elimu tales has paid extra attention in Science, Maths and social studies.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        The animation is set  in a fictional Peri-urban village called Kimbo town . We follow the lives of four young kids Amina,  Atieno,  Kamau and Kioko. We use  their day to day activities to educate children watching the show
                        So far the feedback has been exciting as Elimu tales won the best animation category at the River wood academy awards 2017.
                    </p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                    <a href="https://www.facebook.com/Elimu-Tales-949791205121886/" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-facebook-square"> Find us on Facebook</i></a>
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                    <a href="https://www.youtube.com/channel/UCUG35A2nhyjCmi-iu1a-BMw" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-youtube"> Find us on YouTube</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12">
                {% for item in articles_page.object_list %}
                    {% if item.type == "service" %}
                        <div class="col-md-4 text-center">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x section-icon"></i>
                              <i class="fa fa-{{ item.icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4>{{ item.title }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block contact %}
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get in touch</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 contact">
                    <h3>Contact me</h3>
                    <h4><i class="fa fa-phone-square fa-lg"></i> 0736087212</h4>
                    <h4><i class="fa fa-envelope fa-lg"></i> marksmediaproduction@gmail.com</h4>
                    <h4><i class="fa fa-map-o fa-lg"></i> Address:</h4>
                    <address>
                        <h5>P.O. Box 1131</h5>
                        <h5>00200</h5>
                        <h5>NAIROBI, KENYA</h5>
                    </address>
                </div>
                <div class="col-lg-6">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        {% for field in CONTACT_FIELDS %}
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">

                                {% if field[1] == 'textarea' %}

                                    <label>{{field[0]}}</label>
                                    <textarea rows="5" class="form-control" placeholder="{{field[0]}}" id="{{field[2]}}" required data-validation-required-message="{{field[3]}}"></textarea>
                                    <p class="help-block text-danger"></p>

                                {% else %}

                                    <label>{{field[0]}}</label>
                                    <input type="{{field[1]}}" class="form-control" placeholder="{{field[0]}}" id="{{field[2]}}" required data-validation-required-message="{{field[3]}}">
                                    <p class="help-block text-danger"></p>

                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


<!--Will be added later when needed-->
{% block modals %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            <div class="portfolio-modal modal fade" id="portfolioModal{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <h2>{{article.title}}</h2>
                                    <hr class="star-primary">
                                    <img src="https://img.youtube.com/vi/{{ article.videoid }}/maxresdefault.jpg" class="img-responsive img-centered" alt="">
                                    <p>{{article.content}}</p>
                                    <a href="https://www.youtube.com/watch?v={{ article.videoid }}" target="_blank" class="btn btn-default mod-modal"><i class="fa fa-eye"> Watch</i></a>
                                    <!--
                                    <ul class="list-inline item-details">
                                        <li>Client:
                                            <strong><a href="#">{{article.client}}</a>
                                            </strong>
                                        </li>

                                        <li>Date:
                                            <strong><a href="#">{{article.date}}</a>
                                            </strong>
                                        </li>

                                        <li>Service:
                                            <strong><a href="#">{{article.service}}</a>
                                            </strong>
                                        </li>
                                    </ul>
                                    -->
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Portfolio Modals -->
{% endblock %}
