/*
.navbar-shrink.mod-nav {
    background: @nero;
}

.navbar-default.mod-nav {
    background: transparent;
}*/

.navbar-brand.mod-nav {
  color: @sunglow;
  font-family: 'Pacifico', cursive;
  text-transform: none;
}

.navbar-default .navbar-nav {
	.active {
		a {
			border-radius: 4px;
		}
	}
}

.navbar-logo {
  padding: 0;
}

.navbar-logo img {
  width: 100px;
}
